/* You can add global styles to this file, and also import other style files */
.html{
    background-color: #00FFCC;
    font-family: 'Big Shoulders Stencil Display', cursive;
font-family: 'Londrina Solid', cursive;
}